---
import { Image } from 'astro:assets';
import '@styles/components/ImagePreview.scss';
import dynamicImage from '@utils/dynamicImage';

interface Props {
	src: string;
	alt: string;
}

const { src, alt } = Astro.props;

const img = dynamicImage(src);
---

<button class='thumbnail'>
	<Image src={img} alt={alt} height={75} />
	<div class='modal-img'>
		<Image
			src={img}
			alt={alt}
		/>
	</div>
</button>

<script>
	import ModalHelper from '@utils/ModalHelper';

	document.querySelectorAll<HTMLButtonElement>('.thumbnail').forEach((thumbnail) => {
		thumbnail.addEventListener('click', (e) => {
			e.stopImmediatePropagation();

			const originalImg = thumbnail.querySelector<HTMLImageElement>('.modal-img img');
			if (!originalImg) return;

			const img = originalImg.cloneNode() as HTMLImageElement;

			const thumbnailImg = thumbnail.querySelector<HTMLImageElement>('img');
			if (!thumbnailImg) return;

			const thumbnailSrc = thumbnailImg.getAttribute('src') || '';

			img.style.backgroundImage = `url("${thumbnailSrc}")`;

			ModalHelper.addContent(img);
			ModalHelper.open(thumbnail);
		});
	});
</script>
