---
import { Icon } from 'astro-icon';
import { DEV_URL, GITHUB_URL, GITLAB_URL, LINKEDIN_URL, STACK_OVERFLOW_URL } from 'src/config';
import '@styles/components/blocks/SocialsLinks.scss';
---

<div class='socials-links'>
	<a href={GITHUB_URL} title='Github'>
		<Icon pack='logos' name='github-icon' />
	</a>
	<a href={GITLAB_URL} title='Gitlab'> <Icon pack='logos' name='gitlab' /></a>
	<a href={LINKEDIN_URL} title='Linkedin'> <Icon pack='logos' name='linkedin-icon' /></a>
	<a href={STACK_OVERFLOW_URL} title='Stack Overflow'>
		<Icon pack='logos' name='stackoverflow-icon' />
	</a>
	<a href={DEV_URL} title='DEV'>
		<Icon name='dev' />
	</a>
</div>
