---
import { Image } from '@astrojs/image/components';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@styles/pages/index.scss';
import face from '../images/face.png';
import profile from '../images/profile.webp';
import boat from '../images/svg/boat.svg';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class='hero'>
				<div class='hero__intro'>
					<h1 class='hero__intro-header'>Hi, my name is Kainoa Araiza K.</h1>
					<div class='intro-container'>
						<div class='hero__intro-border'></div>
						<div class='intro-container__profile-container'>
							<Image src={profile} width={321} height={382} alt='my face' />
						</div>
						<div class='intro-container__content'>
							<p>I'm a highly motivated <strong>front-end developer</strong> from Washington, US.</p>
							<p>
								I'm interested in a wide range of web technologies such as serverless functions,
								WebSockets and PWA. I'm always striving to grow and learn something new.
							</p>
							<div class='content-btns'>
								<a href='#' class='work'>View my work</a>
								<a href='#' class='contact'>Contact me!</a>
							</div>
						</div>
					</div>
				</div>
				<div class='waves light-waves'></div>
				<img class='boat' src={boat} alt='boat' />
				<div class='waves dark-waves'></div>
			</section>
			<section class='about'></section>
			<section class='projects'></section>
		</main>

		<script>
			import createIntersectionObserver from 'src/utils/createIntersectionObserver';

			const header = document.querySelector('header');
			const observed = document.querySelector('.hero');

			if (observed)
				createIntersectionObserver(observed, (i) => {
					if (i.above || i.below) header?.classList.add('submerged');
					else header?.classList.remove('submerged');
				});
		</script>
	</body>
</html>
