---
import '@styles/components/Cloud.scss';
const { amount } = Astro.props;

const staticStyles = new Array(amount).fill({}).map((_, i) => {
	const minTop = 20;
	const maxTop = 50;
	const column = i * (200 / amount);
	const maxColumnOffset = 5;
	const minScale = 60;
	const maxScale = 130;

	return {
		top: `${Math.floor(Math.random() * (maxTop - minTop) + minTop)}px`,
		left: `${column + Math.floor(Math.random() * maxColumnOffset)}%`,
		scale: `${Math.floor(Math.random() * (maxScale - minScale) + minScale)}%`,
	};
});
---

<div class='clouds-container'>
	{
		staticStyles.map((style) => (
			<div class='cloud-wrapper' style={`top: ${style.top}; left: ${style.left};`}>
				<div class='cloud' style={`transform: translateX(0%) scale(${style.scale});`}>
					<span class='shadow' />
				</div>
				<div class='cloud cloud-clone-middle' style={`transform: translateX(-100%) scale(${style.scale});`}>
					<span class='shadow' />
				</div>
				<div class='cloud cloud-clone-right' style={`transform: translateX(100%) scale(${style.scale});`}>
					<span class='shadow' />
				</div>
			</div>
		))
	}
</div>
