---
import '@styles/components/Footer.scss';
import { DEV_URL, GITHUB_URL, GITLAB_URL, LINKEDIN_URL, SITE_EMAIL, STACK_OVERFLOW_URL } from 'src/config';

const currentYear = new Date().getFullYear();
---

<footer>
	<ul>
		<li><a href={GITHUB_URL} target='_blank'>Github</a></li>
		<li><a href={GITLAB_URL} target='_blank'>Gitlab</a></li>
		<li><a href={LINKEDIN_URL} target='_blank'>Linkedin</a></li>
		<li><a href={STACK_OVERFLOW_URL} target='_blank'>Stack Overflow</a></li>
		<li><a href={DEV_URL} target='_blank'>DEV</a></li>
	</ul>
	<small>Ⓒ {currentYear} Kainoa Araiza Kuanoni. All rights reserved.</small>
	<address>
		<small>
			<a href={`mailto: ${SITE_EMAIL}`}>{SITE_EMAIL}</a>
		</small>
	</address>
</footer>
