---
import { Image } from '@astrojs/image/components';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/config';
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';
import abstract1 from '@images/abstract1.webp';
import abstract2 from '@images/abstract2.webp';
import abstract3 from '@images/abstract3.webp';
import '@styles/layouts/BaseLayout.scss';
import Footer from '@components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Image class='bg-abstract bg-abstract-1' src={abstract1} alt='' />
		<Image class='bg-abstract bg-abstract-2' src={abstract2} alt='' />
		<Image class='bg-abstract bg-abstract-3' src={abstract3} alt='' />
		<Header />
		<slot />
		<Footer />
	</body>
</html>
